canvas {
    max-width: 98%;
    max-height: 98%;
    height: auto;
    width: auto;
    margin:auto;
   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:white;
    border:#c4c4c4 2px solid;
    border-radius: 10px; 
    pointer-events: auto;
}

.disableCanvas {
   background-color:#ffe6e6;
   pointer-events: none;
}